.apps {
    display: flex;
    min-height: 34rem;
    width: 100%;
    background-color: $bg-third-color;
    justify-content: center;
    margin: 7rem 0;
    margin-bottom: 13rem;
    @media only screen and (max-width: $bp-medium) {
        margin: 2rem 0;
    }
    &--text {
        display: flex;
        padding: 1.2rem;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        &__btn {
            display: flex;
            margin-bottom: 0 !important;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;

            &--container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding: 1.2rem;
            }
        }
        & > * {
            margin-bottom: 2rem;
        }
    }
    &--image {
        object-fit: contain;
        width: 50%;
        display: flex;
        height: 100%;
        justify-content: space-around;
        position: relative;
        animation: floating 3s infinite;
        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
        img {
            max-height: 60rem;
            position: absolute;
            right: 1.5rem;
            top: -6.4rem;
            transform: translateY(-12px);
            /* height: 100%; */
            /* width: 100%; */
            max-width: 50vw;
            @media only screen and (max-width: $bp-medium) {
                display: none;
            }
        }
    }
}
@keyframes floating {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
