@import "base";
.btn {
    margin: 0;
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    padding: 0.6rem 1.2rem;
    // line-height: 20px;
    // min-width: 5.2px;
    border-radius: 0.4rem;
    min-height: 2.4rem;
    border: none;
    background-color: $main-color;
    &--lg {
        @extend .btn;
        padding: 0.9rem 3rem;
    }
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 1;
    }
    &--login {
        @extend .btn;
        font-size: 1.5rem !important;
        padding: 2rem 1rem 2rem 2rem;
        width: 83%;
        border-radius: 3rem;
        box-shadow: 0.3rem 0.3rem 0.8rem $shadow-second-color, -0.3rem -0.3rem 0.8rem $bg-main-color;
        &:active {
            box-shadow: unset;
        }
    }
    &--sort {
        @extend .btn;
        background-color: transparent !important;
        padding: 0 1.2rem;
        min-height: unset;
        font-size: 2rem;
        color: inherit;
        &:hover {
            opacity: 1;
            color: $main-color;
            scale: 1.2;
        }
    }
}

// .btn {
//     background-color: $color-secondary;
//     color:$color-grey-mid-light;
//     border: none;
//     border-radius: 0;
//     font-family: $font-display;
//     font-size: 1.3rem;
//     width: 100%;
//     padding: 1.2rem 2rem;
//     cursor: pointer;
//     &:hover {
//         background-color: rgba(#fff, .05);
//     }
//     &:active{
//         background-color: $color-secondary;
//     }
// }
