.cards--section {
    max-width: 95%;
    margin: 2rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    @media only screen and (max-width: $bp-largest) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: $bp-small) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card--container {
    padding: 3rem;
    @media only screen and (max-width: $bp-largest) {
        padding: 1.2rem;
    }
}
.card {
    // animation and rotation functionality
    perspective: 150rem;
    -moz-prespective: 150rem;
    height: 50rem; // this to reassign the collapsed height because of absolute position
    position: relative;

    &__side {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 50rem;
        transition: all 0.8s ease;
        position: absolute; // this also make the div fit content
        top: 0;
        left: 0;
        width: 100%; // to prevent absulote position fit content
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 0.8rem;
        overflow: hidden; // to fix => the bg image is overflowing the border radius so it looks no more rounded.
        box-shadow: 1.1rem 1.5rem 4rem 0px $shadow-color;
        // box-shadow: 11px 1rem 4rem 0px #c3c9d4;

        &--front {
            background-color: $bg-main-color;
            // background-image: linear-gradient(to right bottom, $main-color-a-dark, $main-color-a);
        }
        &--back {
            transform: rotateY(180deg);
            &-0 {
                // background-color: $main-color;
                background-image: linear-gradient(to right bottom, $main-color, $main-color);
            }
            &-1 {
                background-image: linear-gradient(to right bottom, $bg-fifth-color, $bg-third-color);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $main-color, $dec-color);
            }
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
    // FRONT SIDE STYLING
    &__picture {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 23rem;
        background-size: cover;
        background-blend-mode: screen;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &--img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__heading-span {
        padding: 1rem 1.5rem;
        line-height: 1.4;
        margin-top: 2rem;
    }

    //@include respond(tab-port) {
    // @media only screen and (max-width: 56.25rem), only screen and (hover: none) {
    //     height: auto; // this to reassign the collapsed height because of absolute position
    //     border-radius: 3px;
    //     background-color: $bg-main-color;
    //     box-shadow: 0 1.5rem 4rem rgba($main-color, 0.15);

    //     &__side {
    //         height: auto;
    //         position: relative; // this also make the div fit content
    //         box-shadow: none;

    //         &--back {
    //             transform: rotateY(0deg);
    //             clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    //         }
    //     }
    //     &:hover &__side--front {
    //         transform: rotateY(0deg);
    //     }

    //     // BACK SIDE STYLING
    //     &__cta {
    //         // Center the div
    //         position: relative;
    //         top: 0;
    //         left: 0;
    //         transform: translate(0);
    //         width: 100%;
    //         padding: 7rem 4rem 4rem 4rem;
    //     }
    //     &__details {
    //         padding: 1 3rem;
    //     }
    //     &__price-box {
    //         margin-bottom: 3rem;
    //     }

    //     &__price-value {
    //         font-size: 4rem;
    //     }
    // }
}
.back--content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: 82px;
    align-items: center;
    flex-wrap: nowrap;
    // background-image: url(/images/performance.png);
    &__title {
        background-color: $bg-main-color-a;
        padding: 15% 3rem;
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    }
}
