.footer--section {
    background-color: $bg-second-color;
}
.footer {
    background-color: $bg-second-color;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0 3rem;
    padding: 6rem 0 2rem 0;
    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 100%;
        grid-gap: 4rem;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 0 4rem;
        // @media only screen and (max-width: $bp-medium) {
        //     padding: 0 6rem;
        // }
        img {
            width: 80%;
            height: 80%;
            object-fit: contain;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        &--list {
            display: flex;
            flex-direction: column;
            & :not(:first-child) {
                padding-bottom: 0.2rem;
                &:hover {
                    cursor: pointer;
                    color: $color-font-primary;
                }
            }
        }
    }
}

.social--links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    & > * {
        padding: 0 0.5rem;
        margin: 0 1rem;
        font-size: 1.8rem;
        color: $color-font-body !important;
        transition: all 0.2s;
        &:hover {
            cursor: pointer;
            color: $main-color !important;
            transform: translateY(-5px);
            scale: 1.2;
        }
    }
}
.copy--right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    text-align: center;
    border-top: 1px solid $color-font-caption;
}
