.header {
    height: 7.3rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    // justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    // padding: 0 5rem;
    transition: background-color 1s ease-out;
    // z-index: 999999999;
    // @media only screen and (max-width: $bp-small) {
    //     padding: 0 2rem;
    // }
    &--2 {
        background-color: #535e644f;
        backdrop-filter: blur(80px);
    }
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__img {
        width: 14.5rem;
    }
    &:hover {
        cursor: pointer;
    }
}
