@import "base";

%heading {
    font-family: $font-primary;
    font-weight: 400;
}
%body {
    font-family: $font-primary;
    font-weight: 400;
}

// .h1 {
//     font-family: $font-secondary;
//     text-transform: uppercase;
//     font-weight: 600;
//     font-size: 9rem;
//     color: $dec-color;
//     letter-spacing: 1px;
//     line-height: 0.8;
// }

// .h2 {
//     @extend %heading;
//     font-size: 4rem;
//     line-height: 1;
//     font-weight: 300;
//     color: $color-grey-light-0;
//     &--light {
//         color: $color-grey-light-1;
//     }
//     &--dark {
//         color: $color-grey-dark-1;
//     }
// }

// .h3 {
//     @extend %heading;
//     font-size: 5rem;
//     line-height: 1;
//     font-weight: 600;
//     color: $color-grey-light-0;
//     text-transform: uppercase;
// }

// .h4 {
//     @extend %heading;
//     font-size: 1.9rem;
//     color: $color-grey-light-0;
//     &--light {
//         color: $color-grey-light-1;
//     }
//     &--dark {
//         color: $color-grey-dark-1;
//     }
// }
// .h5 {
//     font-family: $font-primary;
//     font-size: 1.6rem;
//     font-weight: 500;
//     color: $color-grey-mid-light;
//     &--light {
//         color: $color-grey-light-0;
//     }
//     &--dark {
//         color: $color-grey-dark-1;
//     }
// }
.nav-1 {
    @extend %body;
    font-size: 1.5rem;
    color: $second-color !important;
}
.nav-2 {
    @extend %body;
    font-size: 1.7rem;
    color: $second-color !important;
}
.icon {
    line-height: 0.5;
    font-size: 3rem;
    font-weight: 400;
    font-family: $font-primary;
    padding-bottom: 0 !important;
    color: $second-color !important;
}
// .body-2 {
//     @extend %body;
//     font-size: 1rem;
//     text-transform: capitalize;
//     color: $color-grey-light-0;
//     &--light {
//         color: $color-grey-light-1;
//     }
//     &--dark {
//         color: $color-grey-dark-1;
//     }
// }
// .icon {
//     font-family: $font-display;
//     font-size: 2rem;
//     color: $color-grey-light-0;
//     &--light {
//         color: $color-grey-light-1;
//     }
//     &--dark {
//         color: $color-grey-dark-1;
//     }
// }

// .mb-sm {
//     margin-bottom: 2rem;
// }
// .mb-md {
//     margin-bottom: 3rem;
// }
// .mb-lg {
//     margin-bottom: 4rem;
// }
// .mb-hg {
//     margin-bottom: 8rem;
// }
